name: Build docker images

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and upload docker image
    runs-on: ubuntu-latest
    steps:
      - run: sudo rm -rf /opt&
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://cache.iog.io https://cache.nixos.org/
            accept-flake-config = true
      - uses: cachix/cachix-action@v15
        with:
          name: paolino
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build oracle docker image
        run: nix build .#moog-oracle-docker-image -o moog-oracle-image
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: moog-oracle-image
          path: ./moog-oracle-image
      - name: Build agent docker image
        run: nix build .#moog-agent-docker-image -o moog-agent-image
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: moog-agent-image
          path: ./moog-agent-image