name: Unit tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:

  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest

    steps:
      - run: sudo rm -rf /opt&
      - uses: actions/checkout@v4
      - uses: paolino/dev-assets/setup-nix@v0.0.1
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Run moog unit tests
        run: nix run .#unit-tests
